.App {
    text-align: center;
}

.btn {
    display: inline-block;
    height: 40px;
    width: 105px;
    background: black;
    color: white;
    text-align: center;
    line-height: 40px;
    margin: 0 12px;
    border-radius: 5px;
    font-size: 24px;
    padding: 8px;
    cursor: pointer;
}

.btn.green {
    background: green;
}
.btn.red {
    background: red;
}
